body{
  background-color: gold;
}
.main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image1{
  width: 600px;
  height: 540px;
}
p{
  font-size: xx-large;
  margin-left: 40px;
}
