body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,121,9,0.6166841736694677) 50%, rgba(255,0,104,1) 100%);
}
.main-block{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}
.block1{
  background-color: rgb(70, 88, 102);
  height: 190px;
  width: 190px;
  border-radius: 350px; 
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.a1{
  text-decoration: none;
 font-size: 30px;
 color: yellow
}
.a1:hover{
  color: blue;
  font-size: 38px;
  transition-duration: 1s;
}